.trust__title {
	margin: 0;
	margin-bottom: 90px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 125%;
	color: #363738;
}

.trust__list {
	@include flex-starter;
	flex-wrap: wrap;
	@include list-starter;
}

.trust__item {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 79px;
		height: 101px;
		background-image: url('../images/trust-logo1.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}

	&:nth-child(1) {
		margin-bottom: 71px;
		padding: 133px 63px 0 56px;
		width: 100%;
		max-width: 303px;
	}

	&:nth-child(2) {
		margin-bottom: 71px;
		padding: 128px 73px 0 60px;
		width: 100%;
		max-width: 317px;
		border-right: 1px solid #d7d7dd;
		border-left: 1px solid #d7d7dd;

		&::before {
			width: 150px;
			height: 72px;
			background-image: url('../images/trust-logo2.svg');
		}
	}

	&:nth-child(3) {
		margin-bottom: 71px;
		padding: 132px 67px 0 67px;
		width: 100%;
		max-width: 318px;
		border-right: 1px solid #d7d7dd;

		&::before {
			width: 125px;
			height: 100px;
			background-image: url('../images/trust-logo3.svg');
		}
	}

	&:nth-child(4) {
		margin-bottom: 71px;
		width: 100%;
		max-width: 274px;
		padding: 126px 0 0 49px;

		&::before {
			width: 77px;
			height: 94px;
			background-image: url('../images/trust-logo4.svg');
		}

		& > .trust__item-text {
			width: 100%;
			max-width: 225px;
		}
	}

	&:nth-child(5) {
		padding: 124px 94px 0 78px;
		width: 100%;
		max-width: 303px;

		&::before {
			width: 182px;
			height: 49px;
			background-image: url('../images/trust-logo5.svg');
		}

		& > .trust__item-text {
			width: 100%;
			max-width: 131px;
		}
	}

	&:nth-child(6) {
		padding: 124px 72px 0 73px;
		width: 100%;
		max-width: 317px;
		border-right: 1px solid #d7d7dd;
		border-left: 1px solid #d7d7dd;

		&::before {
			width: 95px;
			height: 88px;
			background-image: url('../images/trust-logo6.svg');
		}

		& > .trust__item-text {
			width: 100%;
			max-width: 172px;
		}
	}

	&:nth-child(7) {
		padding: 130px 66px 0 68px;
		width: 100%;
		max-width: 318px;
		border-right: 1px solid #d7d7dd;

		&::before {
			width: 79px;
			height: 97px;
			background-image: url('../images/trust-logo7.svg');
		}
	}

	&:nth-child(8) {
		padding: 124px 23px 0 71px;
		width: 100%;
		max-width: 274px;

		&::before {
			width: 145px;
			height: 52px;
			background-image: url('../images/trust-logo8.svg');
		}
	}
}

.trust__item-title {
	width: 100%;
	max-width: 184px;
	margin: 0;
	margin-bottom: 14px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 135%;
	text-align: center;
	color: #363738;
}

.trust__item-text {
	width: 100%;
	max-width: 184px;
	margin: 0;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #6b6b6c;
}

.works__pages--active {
	display: none;
}

@include max-width(1252px) {
	.trust__item {
		&:nth-child(3) {
			border-right: 0;
		}

		&:nth-child(4) {
			margin-bottom: 71px;
			width: 100%;
			max-width: 303px;
			border-right: 1px solid #d7d7dd;
		}

		&:nth-child(5) {
			margin-bottom: 71px;
			width: 100%;
			max-width: 317px;
		}

		&:nth-child(6) {
			margin-bottom: 71px;
			width: 100%;
			max-width: 318px;
			border-right: 0;
			border-left: 1px solid #d7d7dd;
		}

		&:nth-child(7) {
			width: 100%;
			max-width: 303px;
		}

		&:nth-child(8) {
			width: 100%;
			max-width: 317px;
		}
	}
}

@include max-width(1018px) {
	.trust__list {
		justify-content: center;
	}

	.trust__item {
		&:nth-child(1) {
			width: 100%;
			max-width: 344px;
		}

		&:nth-child(2) {
			width: 100%;
			max-width: 344px;
			border-right: 0;
		}

		&:nth-child(3) {
			width: 100%;
			max-width: 344px;
			border-right: 1px solid #d7d7dd;
		}

		&:nth-child(4) {
			width: 100%;
			max-width: 344px;
			border-right: 0;
		}

		&:nth-child(5) {
			width: 100%;
			max-width: 344px;
		}
		&:nth-child(5) > .trust__item-text {
			width: 100%;
			max-width: 184px;
			text-align: center;
		}

		&:nth-child(6) {
			width: 100%;
			max-width: 344px;
		}

		&:nth-child(7) {
			width: 100%;
			max-width: 344px;
		}

		&:nth-child(8) {
			width: 100%;
			max-width: 344px;
		}
	}
}

@include max-width(768px) {
	.trust__title {
		margin-bottom: 64px;
		font-size: 44px;
	}

	.trust__item {
		&:nth-child(1) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;
		}

		&:nth-child(2) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;

			border-right: 0;
		}

		&:nth-child(3) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;

			border-right: 1px solid #d7d7dd;
		}

		&:nth-child(4) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;

			border-right: 0;
		}

		&:nth-child(5) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;
		}

		&:nth-child(6) {
			margin-bottom: 64px;
			width: 100%;
			max-width: 273px;
		}

		&:nth-child(7) {
			width: 100%;
			max-width: 273px;
		}

		&:nth-child(8) {
			width: 100%;
			max-width: 273px;
		}
	}
}

@include max-width(576px) {
	.trust__title {
		margin-bottom: 56px;
		font-size: 28px;
	}

	.trust__item {
		&:nth-child(1) {
			margin-bottom: 48px;
			width: 100%;
			max-width: 200px;

			&::before {
				width: 70px;
				height: 88px;
				background-image: url('../images/trust-mobile1.svg');
			}
		}

		&:nth-child(2) {
			margin-bottom: 48px;
			width: 100%;
			max-width: 200px;
			border-right: 0;

			&::before {
				width: 119px;
				height: 57px;
				background-image: url('../images/trust-mobile2.svg');
			}
		}

		&:nth-child(3) {
			margin-bottom: 40px;
			width: 100%;
			max-width: 200px;
			border-right: 1px solid #d7d7dd;

			&::before {
				width: 111px;
				height: 88px;
				background-image: url('../images/trust-mobile3.svg');
			}
		}

		&:nth-child(4) {
			margin-bottom: 40px;
			width: 100%;
			max-width: 200px;
			border-right: 0;

			&::before {
				width: 67px;
				height: 81px;
				background-image: url('../images/trust-mobile4.svg');
			}
		}

		&:nth-child(5) {
			display: none;
		}

		&:nth-child(6) {
			display: none;
		}

		&:nth-child(7) {
			display: none;
		}

		&:nth-child(8) {
			display: none;
		}
	}

	.trust__item-title {
		width: 100%;
		max-width: 173px;
		margin-bottom: 12px;
		font-size: 18px;
	}

	.trust__item-text {
		width: 100%;
		max-width: 173px;
	}

	.works__pages--active {
		display: flex;
	}
}

@include max-width(576px) {
	.trust__item {
		&:nth-child(1) {
			width: 100%;
		}

		&:nth-child(2) {
			width: 100%;
		}

		&:nth-child(3) {
			width: 100%;
		}

		&:nth-child(4) {
			width: 100%;
		}
	}
}

@include max-width(430px) {
	.trust__item {
		text-align: center;
		&:nth-child(2) {
			border-left: 0;
		}

		&:nth-child(3) {
			border-right: 0;
		}
	}
}
