.video {
	padding-bottom: 120px;
}

.video__title {
	margin: 0;
	margin-bottom: 32px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 125%;
	color: #363738;
}

.video__text-wrapper {
	width: 100%;
	max-width: 848px;
	margin-bottom: 40px;
}

.video__text {
	margin: 0;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #6b6b6c;
}

.video__iframe-wrapper {
	width: 100%;
	max-width: 1240px;
	height: 100%;
	max-height: 621px;
}

.video__iframe {
	display: block;
	width: 100%;
	height: 621px;
	border: 0;
}

@include max-width(768px) {
	.video {
		padding-bottom: 71px;
	}

	.video__title {
		font-size: 44px;
	}

	.video__text-wrapper {
		width: 100%;
		max-width: 690px;
		margin-bottom: 48px;
	}

	.video__iframe-wrapper {
		width: 100%;
		max-width: 690px;
		height: 100%;
		max-height: 433px;
	}

	.video__iframe {
		display: block;
		width: 100%;
		height: 433px;
		border: 0;
	}
}

@include max-width(576px) {
	.video {
		padding-bottom: 44px;
	}

	.video__title {
		font-size: 28px;
	}

	.video__text-wrapper {
		width: 100%;
		max-width: 500px;
		min-width: 320px;
		margin-bottom: 40px;
	}

	.video__text {
		font-size: 15px;
	}

	.video__iframe-wrapper {
		width: 100%;
		max-width: 500px;
		min-width: 320px;
		height: 100%;
		max-height: 390px;
		min-height: 320px;
	}

	.video__iframe {
		display: block;
		width: 100%;
		height: 390px;
		border: 0;
	}
}
